/*
* color palette
*/
:root {
  --blue:#3C91E6;
  --black-bg:#1f1f1f;
  --white:#FAFFFD;
  --tomato:#FF674D;
  font-family: Helvetica;
}

body {
  color: var(--white);
  background-color: var(--black-bg);
  margin: 0;
}

.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoLayout {
  position: relative;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 100%;
}

video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 20px 20px 20px 1px black;
}

/* Video title */

figcaption {
  position: absolute;
  top: 28px;
  left: 50% - 88px;
}

/* control bar */

.bar {
  position: absolute;
  top: 83%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playpause {
  font-size: 1em;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rightControls {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 310px;
  right: 5.3%;
  top: 20%;
}

.duration {
  margin-right: 10px;
}

input[type="range"] {
  margin: 0;
  margin-right: 10px;
}

svg {
  width: 22px;
  height: 16px;
}

path {
  fill: white;
}

#playpause,
#volume,
#fullscreen {
  transition: .5s all ease-in;
}

#playpause:focus,#playpause:hover,
#volume:focus,#volume:hover,
#fullscreen:focus,#fullscreen:hover {
  border: 1px solid var(--white);
  background-color: var(--tomato);
  border-radius: 5px;
}

/* progress bar */

progress {
  position: absolute;
  margin-top: 8px;
  border-radius: 10px;
  left: 2.3%;
  top: 100%;
  width: 95%;
  height: 12px;
}

::-moz-progress-bar,::-webkit-progress-bar {
  background-color: var(--blue);
  border-radius: 10px;
}

/* animation effect */

figcaption,
.bar,
progress {
  transition: .5s ease all;
}

/* loader */

.loader {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 4px solid #fff;
  animation: loader 2s infinite ease;
}

.loaderInner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #fff;
  animation: loaderInner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loaderInner {
  0% {
    height: 0%;
  }

  25% {
    height: 50%;
  }

  50% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}
